<h1>Check Out Your Axes!</h1>
<ul>
<% @guitars.each do |guitar| %>
     
    <li><%= guitar.maker %></li>
    <li><%= guitar.model %></li>
    <li><%= guitar.color %></li>
    <li><%= guitar.year_created %></li>
    <img src=<%= guitar.image_url %> alt="guitar image">
    
    <a href="/guitars/<%=guitar.id%>/edit">Edit Guitar</a>
    <% end %>
    </ul>
    <br>
    <br>
    <a href="/guitars/new">Create New Guitar</a>
    <br>
