<ul>
<% @guitars.each do |guitar| %>
    <li> 
    <a href="/guitar/<% guitar.id%>"><%= guitar.maker %></a>
    <a href="/guitar/<% guitar.id%>"><%= guitar.model %></a>
    <a href="/guitar/<% guitar.id%>"><%= guitar.color %></a>
    <a href="/guitar/<% guitar.id%>"><%= guitar.year_created %></a>
    <a href="/guitar/<% guitar.id%>"><%= guitar.image_url %></a>
    </li>
    <% end %>
    <br>
    <br>
    <a href="/guitar/new">Create New Guitar</a>
    </ul>