    <ul>
    <li><%= @guitar.maker.capitalize %></li>
    <li><%= @guitar.model.capitalize %></li>
    <li><%= @guitar.color.capitalize %></li>
    <li><%= @guitar.year_created %></li>
    <img src=<%= @guitar.image_url %> alt="guitar image">
    </ul>
    <a href="/guitars"> Back To Guitars </a> 

    <form action="/guitars/<%= @guitar.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
    </form>